body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
}
.silly-bands {
    margin-left: 600px;;
    margin-right: auto;
    font-family: 'Delius Swash Caps', cursive;
}
.niko {
    margin-left: 568px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    font-family: 'Delius Swash Caps', cursive;
}
.biko {
    color: white;
    font-family: 'Delius Swash Caps', cursive;
}
img {
    height: 65px;
    width: 65px;
}
.billy {
    font-family: 'Delius Swash Caps', cursive;
}
