<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/blog.css">
        <link rel="icon" href="data:;base64,iVBORwOKGgo=">
        <link href='https://fonts.googleapis.com/css?family=Delius+Swash+Caps' rel='stylesheet' type='text/css'>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                <a href="#" class="brand-logo"><div class="nav-wrapper green accent-2"><img src="img/panda banksy.jpg"></a>
                    <ul class="right">
                        <li><a href="index.html" class="billy">Home</a></li>
                        <li><a href="admin.html" class="billy">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align billy">InstaDamn</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">

                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer green accent-2">
            <div class="container">
                <p class="silly-bands"><a src="#" class="biko">Back to the top</a></p>
            </div>   
            <div class="footer-copyright">
                <div class="container">
                    <p class="niko">@2016 Niko Enterprise</p>
                </div>
            </div>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="libs/backendless.js"></script>
        <script type="text/javascript" src="js/blog.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
        <script src="js/handlebars-v4.0.5 (1).js" type="text/javascript"></script> 

        <script id="blogs-template" type="text/x-handlebars-template">
            {{#each posts}}
            <div class= "blog-post billy">
            <h2 class= "blog-post-title silly">{{title}}</h2>
            <div class="silly">{{content}}</div>
            <p class= "blog-post-meta silly">At {{format created}} by {{authorEmail}}</p>
            </div>
            {{/each}}
        </script>
    </body>
</html>
